@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800&family=Lato:wght@100;300;400;700;900&family=Nunito:wght@200;400;600;700;800;900&display=swap');


@import url('https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css');

// Färger

$shining-gold: linear-gradient(to left, #946837 1%, #ebe48a 50%, #946837 100%);
$gold: #fbbf05;
// #997855
// #bd9b3d
// #caa335
// #fbbf05
$dark: black;
$dark-grey: #2a2a2a;
$grey: #4a4a4a;
$light: #FFFCFF;
$second-color: #2d9b82;
$confirm: $gold;
// #52B788

// Universal
$app-bg-color: $dark;
$app-font-color: $light;
$card-bg-color: $light;

// Bottom menu
$bottom-menu-bg-color:$dark;
$bottom-menu-icon-color: $grey;
$bottom-menu-active-icon-color: $light;
$bottom-menu-active-link: $gold;
// Slots
$week-toggle-bg-color: $dark-grey;
$selected-toggle-color: #1a1a1a;
$days-bg-color: #1a1a1a;
$slots-bg-color: $dark-grey;
$slot-gap-color:$grey;
$marked-slots-color: $gold;
// #2b7fd2

// -----------------------------------------------------------------------

// Typsnitt

$app-font: 'Nunito';
$app-font-weight: 300;
$app-font-size: 16px;

// Rubriker

h1 {}

h2 {
  color: $dark;
  margin: 0;
  font-size: 1.75rem;
  font-weight: 800;
}

h3 {
  color: $dark;
}

// -----------------------------------------------------------------------

$border-radius: 16px;


@mixin shadow {
  -webkit-box-shadow: 0px 19px 30px 6px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 19px 30px 6px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 19px 30px 6px rgba(0, 0, 0, 0.22);
}

body {
  background: $app-bg-color;
  color: $app-font-color;
  font-family: $app-font;
  font-weight: $app-font-weight;
  margin: 0px;
  font-size: $app-font-size;
}

#app {
  padding: 10px 20px 0;
}

div {
  color: $dark;
}

.light {
  color: $light;
}

.light div {
  color: $light;
}



.card {
  background: $card-bg-color;
  color: $second-color;
  border-radius: $border-radius;
  padding: 20px;
  box-shadow: 0px 3px 28px 0px #08080856;
  -webkit-box-shadow: 0px 3px 28px 0px #0808085b;
  -moz-box-shadow: 0px 3px 28px 0px #08080848;
}

.dark-card {
  background: $dark-grey;
  color: $light;
  border-radius: $border-radius;
  padding: 20px;
  margin: 20px 0 0 0;
  box-shadow: 0px 3px 28px 0px #08080856;
  -webkit-box-shadow: 0px 3px 28px 0px #0808085b;
  -moz-box-shadow: 0px 3px 28px 0px #08080848;
}

.dark-card div {
  color: $light;
}

button {
  color: white;
  padding: 20px 20px;
  background: #8eb5db;
  border-radius: $border-radius;
  // margin: auto;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
  border: 0;
  background: $confirm;
  @include shadow;
}



.menu-item-text {
  color: $grey;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
}

.coupon-icon {
  fill: $gold;
  width: 36px;
  height: 36px;
}