@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

$gold: #bd996c;
$dark: black;
$grey: #222429;
$light: #ffffff;
$second-color: green;



//  bfa767

body {
  background:$light;
  color: $dark;
  margin: 0px;
  
  font-family: 'Montserrat', sans-serif;
//  font-family: -apple-system, system-ui, BlinkMacSystemFont;
}

div {
  color: $dark;
}

.light {
  color: $light;
}

.light div{
  color: $light;
}

// Rubriker

h1 {}

h2 {
  color: $dark;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  color: $dark;
}

.card {
  background: $light;
  color: green;
  border-radius: 16px;
  padding: 20px;
   box-shadow: 0px 3px 28px 0px #08080856;
  -webkit-box-shadow: 0px 3px 28px 0px #0808085b;
  -moz-box-shadow: 0px 3px 28px 0px #08080848;
}

button {
  padding: 10px 20px;
  background: #8eb5db;
  border-radius: 100px;
  margin: 0 0 20px 0;
  font-size: 1em;
   border: 0;
  background: #88f5bd;
}


#menu {
  background: $dark;
}
.menu-item-text {
  color: $grey;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;}